.logement {
  margin: 0 auto;
  padding: 20px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__infos {
    max-width: 70%;
  }

  &__location {
    margin-top: 5px;
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .tag {
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;

    .host__picture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__rating {
    margin-top: 20px;

    .star {
      font-size: 24px;
      color: #e3e3e3;
    }
  }

  &__collapses {
    display: flex;
    gap: 20px;
    margin-top: 30px;

    > * {
      flex: 1;
    }
  }
}
