.logement {
  --fw-normal: 500;
  --fw-bold: 700;
  --color-primary: #ff6060;
  --color-grey: #e3e3e3;
  --lh-default: 1.43;

  margin: 0 auto;
  padding: 20px;
  line-height: var(--lh-default);
  font-weight: var(--fw-normal);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
    margin-top: 30px;
  }

  &__infos {
    flex: 1;
  }

  &__title {
    font-size: 36px;
    color: var(--color-primary);
    font-weight: var(--fw-normal);
  }

  &__location {
    margin: 7px 0 25px 0;
    font-size: 18px;
    font-weight: var(--fw-normal);
  }

  &__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .tag {
    background: var(--color-primary);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: var(--fw-bold);
  }

  .logement__right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .logement__rating {
    display: flex;
    gap: 6px;
  }

  .logement__host {
    display: flex;
    align-items: center;
    gap: 12px;

    .host__name {
      text-align: end;
      font-size: 18px;
      font-weight: 500;
      max-width: 85px;
      color: var(--color-primary);
      margin: 0;
    }

    .host__picture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__collapses {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items: stretch;

    > * {
      flex: 1 1 0;
      min-width: 0;
      align-self: stretch;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .logement {
    &__top {
      flex-direction: column;
      gap: 24px;
      margin-top: 20px;
    }

    &__infos {
      order: 1;
    }

    .logement__right-column {
      order: 2;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 12px;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__location {
      font-size: 14px;
      margin: 4px 0 16px 0;
    }

    &__tags {
      gap: 8px;
    }

    .tag {
      padding: 4px 12px;
      font-size: 10px;
    }

    .logement__rating {
      gap: 2px;
    }

    .star {
      width: 24px;
      height: 24px;
    }

    .logement__host {
      gap: 8px;

      .host__name {
        max-width: 65px;
        font-size: 12px;
      }

      .host__picture {
        width: 32px;
        height: 32px;
      }
    }

    &__collapses {
      flex-direction: column;
      gap: 20px;
      margin-top: 32px;

      > * {
        max-width: 100%; // Pleine largeur
      }
    }
  }
}
