$font-family: "Montserrat", sans-serif;
$max-width-layout: 1440px;
$max-width-content: 1240px;
$padding-main: 2rem;
$border-radius: 25px;
$bg-gallery: #f6f6f6;
$color-primary: #ff6060;
$color-secondary: #000;
