.gallery {
  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px;
    margin-bottom: 50px;
    gap: 30px;
    max-width: $max-width-layout;
    background-color: $bg-gallery;
    border-radius: $border-radius;
  }
}

@media (max-width: 768px) {
  .gallery {
    &__wrapper {
      flex-direction: column;
    }

    &__list {
      padding: 10px;
      flex-direction: column;
      background-color: white;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
}
