.card {
  position: relative;
  flex: 0 0 calc(33.333% - 30px);
  height: 340px;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &__title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }
}
