.card {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  flex: 1 1 calc(33.333% - 20px); // 3 cards max par ligne avec gap
  margin: 10px;
  background-color: #f5f5f5;

  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-title {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
}
