.card {
  position: relative;
  flex: 0 0 calc(33.333% - 30px);
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  height: 340px;
  display: flex;
  align-items: flex-end;

  &__title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    color: #fff;
  }
}
