@import "../../styles/_variables.scss";

.collapse {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f6f6f6;

  &__header {
    width: 100%;
    background-color: $color-primary;
    color: white;
    padding: 15px 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: $font-family;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
  }

  &__icon {
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(-180deg);
    }
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease;
  }

  &__content--open {
    max-height: 600px; // large
  }

  &__content-inner {
    padding: 20px;
    font-size: 16px;

    transform: translateY(-12px);
    opacity: 0;

    transition:
      transform 0.25s ease,
      opacity 0.25s ease;
  }

  &__content--open &__content-inner {
    transform: translateY(0);
    opacity: 1;
  }
}
