@import "../../styles/_variables.scss";

.collapse {
  width: 100%;
  max-width: 1023px;
  min-height: 60px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f6f6f6;
  margin-bottom: 30px;

  &__header {
    width: 100%;
    background-color: $color-primary;
    color: white;
    padding: 15px 20px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: $font-family;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__icon {
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: 20px;
    background-color: #f6f6f6;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    &__header {
      font-size: 16px;
      padding: 12px 15px;
    }

    &__content {
      font-size: 14px;
    }
  }
}
