.header {
  width: 100%;
  max-width: $max-width-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px;

  &__logo {
    display: block;
    height: 68px;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;

  &--active {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    gap: 12px;
    padding: 20px;

    &__logo {
      height: 46px;
    }

    &__nav {
      text-transform: uppercase;
      gap: 12px;
    }
  }

  .nav__link {
    font-size: 12px;
  }
}
