.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;

  &__logo {
    height: 68px;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;

  &--active {
    text-decoration: underline; // style du lien actif
  }
}

@media (max-width: 768px) {
  .header {
    gap: 20px;
    padding: 20px;

    &__logo {
      height: 46px;
    }

    &__nav {
      gap: 12px;
    }
  }

  .nav__link {
    font-size: 12px;
  }
}
