.footer {
  max-width: $max-width-layout;
  margin: 0 auto;
  width: 100%;
  height: 180px;
  background-color: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;

  &__icons {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
  }

  @media (max-width: 768px) {
    padding: 20px;
    font-size: 14px;

    &__icons {
      gap: 4px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 12px;
    }
  }
}
