.footer {
  background-color: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 40px 0;
}

.footer__icons {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 24px;
  font-weight: 500;
}
