.footer {
  background-color: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
}

.footer__icons {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.footer__text {
  font-size: 24px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
    font-size: 14px;
  }

  .footer__icons {
    gap: 4px;
    margin-bottom: 10px;
  }

  .footer__text {
    font-size: 12px;
  }
}
