.banner {
  width: 100%;
  max-width: 1240px;
  height: 223px;
  margin: 40px auto;
  border-radius: 25px;
  background-color: #000;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__overlay {
    position: absolute;
    inset: 0;
    border-radius: 25px;
    z-index: 0;
  }

  &__title {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    height: 111px;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: left;
    margin: 20px auto;

    &__overlay {
      border-radius: 10px;
    }

    &__title {
      font-size: 24px;
      white-space: pre-line;
    }
  }
}
