.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
  }
}
