@import "../styles/variables";

.layout {
  max-width: $max-width-layout;
  margin: 20px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    max-width: $max-width-content;
    margin: 0 auto;
    padding: $padding-main;
    flex: 1;
  }
}
