@import "../styles/variables";

.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    max-width: $max-width-content;
    margin: 0 auto;
    padding: $padding-main;
    flex: 1;
  }
}
