.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .layout {
    main {
      padding: 1rem;
    }
  }
}
